.balance-status
	display flex
	align-items center
	border-bottom 1px solid #f1f2f4
	padding 17px 16px 18px 16px
	
	&__content
		flex-grow 1
		font-size 24px
		color #1D1E1F
		font-weight normal
		
	&__label
		font-size 13px
		font-weight 500
		color #83888d
		
	&__text
		font-size 18px
		font-weight 500
		line-height 1.22
		color #1d1e1f	

	&__sum
		font-size 30px
		text-transform uppercase
		font-weight 500
		line-height 1.2
		
		&_positive
			color #2fb678
			
		&_negative
			color #f1353b
