.balance-status
	padding 17px 16px
	background-color #FCFDFE
	display flex
	align-items center
	border-bottom 1px solid #e1e4e7
	
	&__text
		flex-grow 1
		font-size 18px
		line-height 1.22
		color #7d8790
	
	&__sum
		flex-shrink 0
		font-size 22px
		font-weight 500
		color #2e363e
		text-transform uppercase
		
