.balance-status
	padding 17px 0
	display flex
	align-items center
	border-bottom 1px solid #f1f2f4
	
	&__text
		flex-grow 1
		font-size 24px
		color #2e363e
		font-weight normal
	
	&__sum
		flex-shrink 0
		font-size 24px
		font-weight bold
		color #2e363e
		text-transform uppercase
