.root {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header,
.footer {
	flex-grow: 0;
	flex-shrink: 0;
}

.content {
	flex-grow: 1;
	flex-shrink: 1;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
