.universal-list-item
	display flex
	align-items center
	padding 18px 16px
	padding-left 19px
	background #fff

	&_bordered
		border-bottom 1px solid #e1e4e7
		box-sizing content-box

		&:last-child
			border-bottom none

	&__text
		margin-left 6%
		flex-grow 1
		font-size 16px
		font-weight 400
		color #2e363e

	&__price
		font-size 16px
		font-weight 500
		color #2e363e
		line-height 1.25

	&__icon
		background-size cover
		width 24px
		height 24px
		background-image url('../img/check-active.svg')

.unselectable
	user-select none
