$borderColor = #e1e4e7

.universal-list-item
	display flex
	align-items center
	padding 18px 16px
	padding-right 9px
	background #fff

	&_bordered
		border-bottom 1px solid $borderColor
		box-sizing content-box

		&:last-child
			border-bottom none

	&__text
		flex-grow 1
		font-size 16px
		font-weight normal
		color #2e363e

	&__price
		font-size 16px
		font-weight 500
		color #2e363e
		line-height 1.25

	&__icon
		width 18px
		height 18px
		background-repeat no-repeat
		background-position 7px 0
		background-image inline('more-actions.svg')

		&:hover
			cursor pointer

	&__delete
		width 24px
		height 24px
		margin-right 18px
		background-image inline('close-inactive.svg')

.unselectable
	user-select none
