.modal-topbar
	display flex
	padding 21px
	box-shadow 0 1px 1px rgba(0, 0, 0, 0.1)
	
	&__icon
		position relative
		top 5px
		background-image url('../img/close-button.svg')
		width 14px
		height 14px
		background-size cover
		box-sizing padding-box
		padding 5px
		
	&__title
		font-size 16px
		font-weight bold
		line-height 1.25
		color #2e363e
		padding 2px 21px
		
.modal-purchase-info
	padding-top 17px
	padding-bottom 20px
	padding-left 16px
	padding-right 16px
	display flex
	box-shadow 0 1px 1px rgba(0, 0, 0, 0.1)
	
	&__author
		flex-grow 1
		font-size 16px
		line-height 1.25
		color #2e363e
	
	&__price
		font-size 16px
		font-weight bold
		line-height 1.25
		color #2e363e
		text-transform uppercase
		
.modal-purchase-list-header
	padding 16px
	color #3f95ff
	font-size 14px
	font-weight 500

.modal-purchase-list
	box-shadow 0 1px 1px rgba(0, 0, 0, 0.1)
	&__item
		padding-top 17px
		padding-bottom 20px
		padding-left 16px
		padding-right 16px
		
