$borderColor = #e1e4e7

.balance-check-content
	font-size 1.1em
	line-height 1.4

	&__debts
		padding 20px 16px
		font-family monospace
		border-top 1px solid $borderColor
		border-bottom 1px solid $borderColor
		background-color #f8f8f9
		user-select all
