.balance-check
	user-select all
	white-space pre
	border solid 1px #e5e7eb
	display flex
	align-items center
	margin-top 8px
	margin-left -8px
	width calc(100% + 16px)
	border-radius 2px
	margin-bottom 24px
	
	&__title
		font-size 17px
		font-weight 500
		line-height 1.25
		color #2e363e
		margin-bottom 2px
	
	&__subtitle
		font-size 14px
		font-weight 400
		color #818f99

	&__icon
		margin 24px 24px 24px 16px
		width 24px
		height 24px
		background-image url("img/balance-check.svg")

	&__copy-text
		opacity 0
		position absolute
