.balance-check
	user-select all
	white-space pre
	display flex
	align-items center
	box-shadow 0 1px 1px 0 rgba(0, 0, 0, 0.13), 0 -1px 0 0 rgba(0, 0, 0, 0.08)
	padding 18px 19px 17px 19px
	
	&__title
		font-size 17px
		font-weight 500
		line-height 1.25
		color #1d1e1f
		margin-bottom 2px
	
	&__subtitle
		font-size 14px
		font-weight 400
		color #818f99

	&__icon
		width 24px
		height 24px
		margin-right 27px
		background-image url("img/balance-check.svg")

	&__copy-text
		opacity 0
		width 0
		height 0
		position absolute
