{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    "syntax-class-properties",
    "transform-class-properties"
  ]
}
