{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "version": "15.6.2"
    }
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "moment": true,
    "test": true,
    "expect": true
  },
  "rules": {
    "indent": ["error", "tab", {
      "SwitchCase": 1
    }],
    "max-len": 0,
    "no-use-before-define": ["error", "nofunc"],
    "no-multiple-empty-lines": ["error", {
      "max": 1
    }],
    "import/no-extraneous-dependencies": "off",
    "react/require-extension": "off",
    "react/jsx-indent": ["error", "tab"],
    "react/jsx-indent-props": ["error", "tab"],
    "react/prefer-es6-class": ["warn", "always"],
    "react/prop-types": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off"
  }
}
