# General files
*~
.DS_Store
.vscode

# Build
static/index.html
static/bundle.js
static/bundle.js.map
www/
static/static.zip

# Development stuff
platforms/
plugins/
node_modules/
npm-debug.log
*.sublime-workspace
*.pyc
.vagrant
.idea
