.square-button
	display inline-block
	padding 10px 12px
	font-size 14px
	font-weight 500
	text-transform uppercase
	border-radius 3px
	color #3f95ff
	cursor pointer

	&:hover,
	&:focus
		background: #dedede
