.event-status
	padding 16px
	border-bottom 1px solid #eff2f6
	
	&_user-selection
		margin-bottom 16px
		background-color #fde17a
		
		.event-status__name
			font-size 28px
			margin-bottom 5px
			font-weight bold
			
		.event-status__subtitle
			font-size 14px
			color rgba(46, 54, 62, 0.55)
	
	&__name
		font-size 24px
		font-weight 500
		padding-bottom 2px
		
	&__subtitle
		font-size 13px
		font-weight normal
		color #6a7b8a
		line-height 1.23
	
