.event-status
	padding 16px
	border-bottom 1px solid #eff2f6
	
	&__title
		font-size 24px
		font-weight 500
		padding-bottom 2px
		
	&__subtitle
		font-size 13px
		font-weight normal
		color #6a7b8a
		line-height 1.23
