html,
body
	box-sizing border-box
	height 100%
	font-family Roboto, sans-serif
	font-size 100%
	-webkit-tap-highlight-color transparent

*,
*::before,
*::after
	box-sizing inherit

.bottom-nav
	position fixed
	bottom 0px
	
