html,
body
	box-sizing border-box
	height 100%
	font-family Roboto, sans-serif
	font-size 100%
	overflow-x hidden
	-webkit-tap-highlight-color transparent
	user-select none
	background #fff

*,
*::before,
*::after
	box-sizing inherit

.bottom-nav
	position fixed
	bottom 0px

input
	appearance none
