html,
body
	box-sizing border-box
	height 100%
	font-family Roboto, sans-serif
	font-size 100%
	overflow-x hidden
	-webkit-tap-highlight-color transparent
	user-select none

*,
*::before,
*::after
	box-sizing inherit

.bottom-nav
	position fixed
	bottom 0px

.react-swipe-container
	overflow hidden
	height "calc(100% - %s)" % ($tabsHeight + $topBarHeight)
	visibility hidden
	position relative

	& > div
		overflow hidden
		height 100%
		position relative

		& > div			
			height 100%
			float left
			width 100%
			position relative

