@font-face
	font-family 'Roboto'
	src local('Roboto'),
		url('/static/fonts/roboto/regular.woff2') format('woff2'),
		url('/static/fonts/roboto/regular.woff') format('woff')
	font-style normal
	font-weight 400


@font-face
	font-family 'Roboto'
	src local('Roboto'),
		url('/static/fonts/roboto/medium.woff2') format('woff2'),
		url('/static/fonts/roboto/medium.woff') format('woff')
	font-style normal
	font-weight 500


@font-face
	font-family 'Roboto'
	src local('Roboto'),
		url('/static/fonts/roboto/bold.woff2') format('woff2'),
		url('/static/fonts/roboto/bold.woff') format('woff')
	font-style normal
	font-weight 700
