.purchase-info
	background-color #fff
	padding-top 17px
	padding-bottom 20px
	padding-left 16px
	padding-right 16px
	display flex
	box-shadow 0 1px 1px rgba(0, 0, 0, 0.1)
	
	&__author
		flex-grow 1
		font-size 16px
		line-height 1.25
		color #2e363e
	
	&__price
		font-size 16px
		font-weight bold
		line-height 1.25
		color #2e363e
		text-transform uppercase
		
.list-header
	background-color #fff
	padding 16px
	color #3f95ff
	font-size 14px
	font-weight 500

.list
	background-color #fff
	box-shadow 0 1px 1px rgba(0, 0, 0, 0.1)
	&__item
		padding-top 17px
		padding-bottom 20px
		padding-left 16px
		padding-right 16px
		
