.event-action
	padding 16px
	display flex
	
	&__text
		margin-top 2px
		font-size 14px
		font-weight 400
		color charcoal-grey
		margin-bottom 4px
		
	&__date
		font-size 13px
		font-weight normal
		line-height 1.23
		color #818f99

	&__icon-wrapper
		margin-right 16px
		background-color #eff0f2
		width 40px
		height 40px
		display flex
		align-items center
		justify-content center
		border-radius 50%
		
	&__icon
		width 24px
		height 24px
		
		&_purchase
			background url('../img/actionIcons/purchase.svg')
		
