.event-action
	padding 16px
	display flex
	border-bottom 1px solid #e1e4e7
	
	&__text-wrapper
		margin-bottom 4px
	
	&__text
		font-size 14px
		font-weight 400
		color #2e363e
		
		&_bold
			font-weight 500
		

	&__date
		font-size 13px
		font-weight normal
		line-height 1.23
		color #818f99
	
	&__sum
		font-size 18px
		font-weight 500
		line-height 1.22
		color #2e363e
	
	&__debt-sum
		font-size 18px
		font-weight 500
		line-height 1.22
		color #2e363e

	&__debt-icon
		width 18px
		height 12px
		background: url('img/arrow-forward-long.svg')
		background-repeat no-repeat
		display inline-block
		margin-right 8px


	&__icon-wrapper
		flex-shrink 0
		margin-right 16px
		background-color #eff0f2
		width 40px
		height 40px
		display flex
		align-items center
		justify-content center
		border-radius 50%
		
		&_yellow
			background-color #fff5c4

	&__icon
		width 24px
		height 24px

		&_purchase
			background url('img/actionIcons/purchase.svg')

		&_calendar
			background url('img/actionIcons/calendar.svg')

		&_exit
			background url('img/actionIcons/exit.svg')

		&_person
			background url('img/actionIcons/person.svg')

		&_pen
			background url('img/actionIcons/pen.svg')
		
		&_check-active
			background url('img/actionIcons/check-active.svg')
			
		&_check-active-yellow
			background url('img/actionIcons/check-active-yellow.svg')
