.events-item
	margin: 0
	padding: 16px
	border-bottom: 1px solid #e1e4e7

	&__title
		display: block
		font-size: 18px
		color: #2e363e
		margin: 0
		line-height: 22px
		font-weight 500

	&__result
		margin: 8px 0 0 0
		font-size: 14px
		color: #0dd090
		line-height: 16px

	&__description
		margin: 2px 0 0 0
		font-size: 14px
		color: #9fafba
		line-height: 16px

	&__members:after
		content: "●"
		font-size: 5px
		margin: 0 3px
		position: relative
		top: -2px
