.data-picker-wrapper
	width 46%
	margin-bottom 8px
	position relative
	
	&::after
		content ""
		position absolute
		background-image inline('arrow-drop-down.svg')
		background-repeat no-repeat
		right -6px
		bottom 1px
		width 24px
		height 24px
		font-size 30px
		font-weight normal
		line-height 1.2
		color rgba(46, 54, 62, 0.32)

		
