.events-item
	display flex
	justify-content space-between
	padding 18px 16px
	border-bottom 1px solid #e1e4e7

	&__leftside
		flex-grow 1
		flex-shrink 1

	&__rightside
		display flex
		flex-direction column-reverse
		flex-grow 0
		flex-shrink 0

	&__title
		font-size 20px
		font-weight normal
		line-height 1.1
		color #1D1E1F
		margin 0 0 8px 0
	
	&__status
		font-size 13px
		font-weight normal
		line-height 1.23
		
		&_positive
			color #2fb678
		
		&_negative
			color #e94f33
	
	&__date
		margin-bottom 4px

	&__subtitle
		font-size 14px
		line-height 1.14
		color #7f8c95

	&__debt-status
		text-align right
		&_negative
			color #f1353b

		&_positive
			color #34c082
			
		&_neutural
			color #1D1E1F

	&__sum
		font-size 20px
		font-weight 500
		line-height 1.1

	&__debtType
		font-size 12px
