.balance-label
	padding 17px 16px
	background-color rgba(125, 135, 144, .17)
	display flex
	align-items center
	
	&__debt-type
		flex-grow 1
		font-size 18px
		line-height 1.22
		color #7d8790
	
	&__debt-sum
		font-size 22px
		font-weight 500
		color #2e363e
		text-transform uppercase
		
