.datepicker
	padding 16px 0

	&__label
		display block
		margin-bottom 5px
		font-size 12px
		color rgb(148, 154, 158)
		cursor pointer

	&__input
		display block
		padding-bottom 1px
		width 100%
		border 0
		font-size 16px
		line-height 24px
		border-bottom 1px solid rgb(224, 224, 224)
		background transparent

		&:focus,
		&:active
			padding-bottom 0
			outline 0
			border-bottom-color $accent
			border-bottom 2px solid $accent
