.Input
	position relative
	margin-top 34px
	font-size 16px

	&_middle
		font-size 24px

	&_large
		font-size 30px
		margin-bottom 48px
		&::after
			content "руб."
			position absolute
			right 0
			top 0
			font-size 30px
			font-weight normal
			line-height 1.2
			color rgba(46, 54, 62, 0.32)
			z-index 1
			background #fff

	&_margin-top-small
		margin-top 20px
	

.input
	width 100%
	border none
	outline 0px
	border-bottom 1px solid #e1e4e7
	box-sizing border-box
	padding 0px
	padding-bottom 9px
	line-height 1.2
	font-size inherit
	-webkit-appearance none
	border-radius 0

	&:focus
		padding-bottom 8px
		border-width 2px
		border-color #ffe151

.floating-label
	position absolute
	top 0px
	left 0px
	line-height normal
	color #939fa8
	font-size 16px
	line-height 1.23
	pointer-events none
	transition all 0.3s
	will-change transform
	transform-origin left top

	&_transformed
		transform translateY(-24px)
		font-size 13px

	&_small
		font-size 13px

	&_fixed
		top -25px
