.chip-add-button
	width 80px
	height 28px
	box-sizing border-box
	border 1px dashed #d1d5da
	border-radius 59px
	text-align center
	line-height 26px
	font-size 12px
	font-weight 300
	color #83919f
	margin-right 8px

	&:hover
		box-shadow 0 0 5px RGBA(0, 0, 0, 0.15)
