.user-selection
	position relative
	
	&__list
		display flex
		padding-top 3px
		padding-left 19px
		padding-right 19px
		flex-wrap wrap
	
	&__invite-author
		font-weight bold

	&__top-bar
		padding 24px
		padding-bottom 20px
		background-color #fde17a
		
	&__invite-text
		font-size 16px
		font-weight 400
		color #1c2126
		line-height 1.23
		max-width 85%
		
	&__icon
		margin 18px
		width 24px
		height 24px
		background-repeat no-repeat
		background-image inline('info.svg')
		position absolute
		top 0
		right 0
		
	&__add-participant-button
		padding 16px
		border-radius 4px
		text-align center
		border solid 1px #dee3e7
		font-size 20px
		font-weight normal
		color #949A9E
		margin 5px
		display block
		width 192px
		
		&:hover
			cursor pointer
	
