.user-selection
	position relative
	
	&__top-bar
		padding 24px
		padding-bottom 20px
		background-color #fde17a
		
	&__invite-text
		font-size 16px
		font-weight 400
		color #1c2126
		
	&__icon
		width 24px
		height 24px
		background-repeat no-repeat
		background-image url('img/info.svg')
		position absolute
		top 14px
		right 14px
	
