.action-button
	height 64px
	background-color #ffe151
	display flex
	justify-content center
	align-items center
	position absolute
	bottom 0
	left 0
	width 100%
	
	&__text
		font-size 20px
		font-weight normal
		color #1D1E1F
