.grey-subtitle
	background-color #fff
	padding 15px 16px
	color #768796
	font-size 15px
	font-weight 500
	
	&_user-selection
		padding 13px 24px 14px 24px
		font-size 18px
		font-weight 500
		color #738391
