.grey-subtitle
	background-color #fff
	padding 15px 16px
	font-size 13px
	font-weight 500
	text-transform uppercase
	line-height 1.38
	letter-spacing 1px
	color #83888D

	&_user-selection
		padding 13px 24px 14px 24px
		font-size 18px
		font-weight 500
		color #83888D
		text-transform none
		letter-spacing 0
