.chip
	display flex
	justify-content center
	align-items center
	padding-left 12px
	padding-right 29px
	height 28px
	border-radius 59px
	background #fff5c4
	position relative

	&:hover
		box-shadow 0 0 5px rgba(0, 0, 0, 0.3)

	&__text
		height 20px
		font-size 12px
		line-height 1.7
		font-weight normal
		color #232930

	&__cancel-button
		width 20px
		height 20px
		position absolute
		top 5px
		right 5px
		background url('img/arrow-down.svg')
		background-size cover

		&:active
			opacity 0.7
