$topBarBorderColor = #e1e4e7
$topBarTitleColor = #2e363e
$topBarSubtitleColor = #9fafba
$icons = burger plus add-person arrow-back check-active info arrow-forward-gray arrow-forward-blue arrow-share more-actions pen share

.top-bar
	width 100%
	display flex
	align-items center
	justify-content center
	height $topBarHeight
	padding 0 4px
	border-bottom 1px solid $topBarBorderColor
	box-shadow 0 0 4px rgba(0, 0, 0, .1)
	background #fff
	z-index 1

	&__heading
		position relative
		flex-grow 1
		flex-shrink 1
		margin 0 8px
		white-space nowrap
		overflow hidden

		&::after
			content ''
			position absolute
			right 0
			top 0
			bottom 0
			width 20px
			background-image linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100% )

	&__title
		font-size 20px
		font-weight 500
		color $topBarTitleColor
		max-width 50%

		.top-bar__heading--with-subtitle &
			font-size 16px
			line-height 20px

	&__subtitle
		font-size 13px
		line-height 16px
		color $topBarSubtitleColor

	&__icon
		flex-grow 0
		flex-shrink 0
		display block
		width 24px
		height 24px
		margin 0 12px
		background-position center
		background-repeat no-repeat
		cursor pointer

		&--disabled
			opacity .2

		for $icon in $icons
			&--{$icon}
				background-image url('img/' + $icon + '.svg')
