.balance-item-popup-wrapper
	padding 6px 24px 0px 24px

	& > .balance-list-item__direction
		padding 18px 0px

.balance-list-item__arrow
	width 18px
	height 12px
	background: inline('arrow-forward-long.svg')
	background-repeat no-repeat
	display inline-block
	margin 0 8px
