.money-input-wrapper
	position relative

.input-money-label
	position absolute
	top 14px
	left 80%
	width 20%
	height 20px
	font-size 16px
	line-height 1.2
	color #a3aab5
	text-align right
	z-index 1
	background #fff


.sub-header-wrapper
	transform translateY(10px)

.balance-item-popup-wrapper
	padding 6px 24px 0px 24px

	& > .balance-list-item__direction
		padding 18px 0px
		
.balance-list-item__arrow
	width 18px
	height 12px
	background: url('img/arrow-forward-long.svg')
	background-repeat no-repeat
	display inline-block
	margin 0 8px
