.purchase-participants
    width 100%
    min-height 80px
    padding 16px 16px 12px 16px
    background-color #ffffff
    
    &__title
        font-size 13px
        color #818f99
        line-height 1.2
        height 16px
        margin-bottom 8px

    &__list
        display flex

.purchase-inputs
    width: 100%
    padding 16px
