.purchase-participants
    width 100%
    padding 16px 16px 14px 16px
    background-color #ffffff
    
    &__title
        font-size 13px
        color #818f99
        line-height 1.2
        height 16px
        margin-bottom 6px

    &__list
        display flex

.purchase-inputs
    width: 100%
    padding 16px

.purchase-payer
    font-size 16px
    line-height 1.2
    color #2e363e
    padding-bottom 9px
    border-bottom 1px solid #e1e4e7