.share-event
	&__annotation
		padding 17px 20px
		font-size .9rem
		line-height 1.4

	&__link-wrapper
		position relative

		&::after
			content ''
			position absolute
			top 0
			bottom 0
			right 0
			width 20px
			background-image linear-gradient(to right, rgba(248, 248, 249, 0) 0%, rgba(248, 248, 249, .5) 20%, rgba(248, 248, 249, .8) 60%, #f8f8f9 100%)

	&__link
		padding 17px 20px
		font-family monospace
		line-height 1.4
		background #f8f8f9
		user-select all
		white-space nowrap
		overflow-x auto

	&__copy
		padding 17px 20px
		text-align center
		color #222
		background $accent
