.popup-container
	display table
	position absolute
	width 100%
	height 100%
	left 0
	top 0
	overflow scroll

.popup-layout
	opacity 0.36
	background-color #000
	width 100%
	height 100%
	position absolute
	top 0
	left 0
	z-index 1000
	
.popup-wrapper
	width 100%
	height 100%
	position relative
	top 0
	left 0
	z-index 2000
	display table-cell
	vertical-align middle

.popup-inner
	width 280px
	background-color #fff
	margin 0 auto
	box-shadow 0 15px 12px 0 rgba(0, 0, 0, 0.22)

.popup-inner .top-bar
	box-shadow none
