barsHeight = 56px
verticalPadding = 18px

.popup
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	padding verticalPadding 0
	display flex
	align-items center
	justify-content center

	&__overlay
		opacity 0.36
		background-color #000
		width 100%
		height 100%
		position absolute
		top 0
		left 0
		z-index 1000

	&__wrapper
		position relative
		top 0
		left 0
		z-index 2000
		max-width 280px
		width 100%
		max-height 100%
		padding-top 56px
		padding-bottom 56px
		box-shadow 0 15px 12px 0 rgba(0, 0, 0, 0.22)
		border-radius 2px

		.popup_without-footer &
			padding-bottom 0

	&__inner
		max-height "calc(100vh - %s)" % (barsHeight * 2 + verticalPadding * 2)
		overflow-y scroll

	&__header
		position absolute
		top 0
		left 0
		right 0
		display flex
		align-items center
		background-color #fff
		height barsHeight
		box-sizing border-box
		padding 0 8px
		font-size 0
		box-shadow 0 0 2px 0 rgba(0, 0, 0, 0.2)
		border-radius 2px 2px 0 0

		&_unbordered
			box-shadow none

		&_large
			padding-left 16px
			padding-top 24px

	&__icon
		width 24px
		height 24px
		margin: 0 8px
		background-position center
		background-repeat no-repeat
		cursor pointer

		&:not(:first-child)
			margin-right 16px

		&_close
			background-image inline('cross.svg')

	&__title
		margin: 0 8px
		color #1D1E1F
		font-size 1rem
		font-weight bold

		&_large
			font-size 20px
			font-weight 500			

	&__footer
		position absolute
		bottom 0
		left 0
		right 0
		box-sizing border-box
		height barsHeight
		padding: 10px 16px
		background-color #fff
		box-shadow 0 0 2px 0 rgba(0, 0, 0, 0.2)
		border-radius 0 0 2px 2px
		text-align right

		&_unbordered
			box-shadow none

	&__content
		background #fff
		padding-bottom 8px

		&_unbordered
			padding-bottom 0px
