.list-item
	display flex
	padding-top 17px
	padding-bottom 20px
	padding-left 16px
	padding-right 16px
	&__text
		flex-grow 1
		font-size 16px
		font-weight 400
		color #2e363e
	&__price
		font-size 16px
		font-weight bold
		color #2e363e
		line-height 1.25
		
