.balance-list-item
	display flex
	align-items center
	padding 18px 18px
	border-bottom 1px solid #f1f2f4
	
	&_negative
		.balance-list-item__sum
			color #f1353b
			
	&_positive
		.balance-list-item__sum
			color #34c082
		
	&_neutral
		.balance-list-item__sum
			color #2e363e
		
		.balance-list-item__direction
			color #2e363e
			
		.balance-list-item__sum
			color #2e363e
	
	&_returned
		.balance-list-item__sum
			color #83888d
			
		.balance-list-item__direction
			color #83888d
			
		.balance-list-item__sum
			display none

	&__direction
		flex-grow 1
		display flex
		align-items center
		font-size 18px
		font-weight normal
		line-height 1.11
		color #1d1e1f

	&__sum
		display inline-block
		font-size 18px
		font-weight 500
		line-height 1.22
		color #2fb678
		
	&__icon
		width 20px
		height 20px
		margin-right 26px
			
.balance-list-item__icon
	position relative
	top 1px
	width 24px
	height 24px
	margin 0 8px
	background: url('img/arrow-forward-long.svg')
	background-repeat no-repeat
	background-position center



