.user-selection-list-item
	padding 16px
	border-radius 4px
	text-align center
	border solid 1px #dee3e7
	font-size 20px
	font-weight normal
	color charcoal-grey
	margin 5px
	
	&:hover
		cursor pointer
