.purchase-list-item
	display: flex
	padding 16px
	border-bottom: 1px solid #e1e4e7
	
	&__descr
		flex-grow 1

	&__buyer
		height 16px
		color #1D1E1F
		font-size 14px
		margin-bottom 2px
		line-height 16px
		
	&__title
		color #1D1E1F
		font-size 18px
		margin-bottom 6px
		height 22px
		line-height 1.2

	&__subtitle
		height 16px
		color #818f99
		font-size 14px
		line-height 16px
	
	&__price
		font-weight 700
		color #1D1E1F
		text-transform uppercase
