.purchase-list-item
	display: flex
	padding 16px
	border-bottom: #e1e4e7 solid 1px
	
	&__descr
		flex-grow 1

	&__buyer
		color #2e363e
		font-size 18px
		padding-bottom 8px
		
	&__title
		color #2e363e
		font-size 14px
		padding-bottom 3px
		
	&__subtitle
		color #818f99
		font-size 13px
	
	&__price
		font-weight 700
		text-transform uppercase
