.flex
	display flex

.flex_full-height
	height 100%

.flex_jc-flex-start
	justify-content flex-start

.flex_jc-flex-end
	justify-content flex-end

.flex_jc-center
	justify-content center

.flex_jc-space-between
	justify-content space-between

.flex_jc-space-around
	justify-content space-around

.flex_ai-flex-start
	align-items flex-start

.flex_ai-flex-end
	align-items flex-end

.flex_ai-center
	align-items center

.flex_ai-baseline
	align-items baseline

.flex_ai-stretch
	align-items stretch

.flex_fd-row
	flex-direction row

.flex_fd-row-reverse
	flex-direction row-reverse

.flex_fd-column
	flex-direction column

.flex_fd-column-reverse
	flex-direction column-reverse
