.flex
	display flex

.jc_flex-start
	justify-content flex-start
	
.jc_flex-end
	justify-content flex-end

.jc_center
	justify-content center

.jc_space-between
	justify-content space-between

.jc_space-around
	justify-content space-around
	
.ai_flex-start
	align-items flex-start
	
.ai_flex-end
	align-items flex-end

.ai_center
	align-items center

.ai_baseline
	align-items baseline

.ai_stretch
	align-items stretch

.fd_row
	flex-direction row
	
.fd_row-reverse
	flex-direction row-reverse
	
.fd_column
	flex-direction column
	
.fd_column-reverse
	flex-direction column-reverse
	

