.poster
	width 255px
	display flex
	flex-direction column
	align-items center
	padding-bottom 40px
	
	&__icon-wrapper
		width 120px
		height 120px
		background-color #e7ebef
		display flex
		justify-content center
		align-items center
		border-radius 50%
		margin-bottom 16px
		
	&__icon
		width 72px
		height 72px
		background-repeat no-repeat	
		&_purchase
			background-position 3px 4px
			background-image url('../img/purchase-big.svg')
			
		&_calendar
			background-position 7px 5px
			background-image url('../img/calendar-big.svg')
	
	&__text
		width 255px
		font-size 14px
		font-weight normal
		text-align center
		color #768390
