.root {
	width: 255px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 40px;
}

.icon-wrapper {
	width: 120px;
	height: 120px;
	background-color: #e7ebef;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-bottom: 32px;
}

.icon {
	width: 72px;
	height: 72px;
	background-repeat: no-repeat;

}

.icon_purchase {
	background-position: 3px 4px;
	background-image: url('./resources/purchase.svg');
}

.icon_calendar {
	background-position: 7px 5px;
	background-image: url('./resources/calendar.svg');
}

.icon_check {
	background-image: url('./resources/check.svg');
	background-position: 15px 13px;
	background-size: 45px;
}

.content {
	width: 255px;
	font-size: 14px;
	line-height: calc(20 / 14);
	font-weight: normal;
	text-align: center;
	color: #768390;
}
