$tabsHeight = 48px

$tabsLinksColor = #afbac2
$tabsAccent = #ffe151
$tabsBorderColor = #dedede

$topBarHeight = 56px

.tabs
	height 100%

	&__nav
		display table
		table-layout fixed
		width 100%
		height $tabsHeight
		line-height $tabsHeight
		white-space nowrap
		border-bottom 1px solid $tabsBorderColor

	&__link
		font-size 14px
		font-weight 500
		display table-cell
		text-align center
		text-transform uppercase
		color $tabsLinksColor
		border-bottom 2px solid transparent
		cursor pointer

		&.is-active
			color #2e363e
			border-bottom-color $tabsAccent

	&__content
		overflow-y scroll
		height "calc(100% - %s)" % ($tabsHeight + $topBarHeight)
		padding-bottom 86px

	&__item
		display none

		&.is-active
			display block
