.root {
	height: 100%;
}

.nav {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 48px;
	line-height: 48px;
	white-space: nowrap;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	border-bottom: 1px solid #e1e4e7;
}

.link {
	font-size: 14px;
	font-weight: 500;
	display: table-cell;
	text-align: center;
	text-transform: uppercase;
	color: #83888d;
	border-bottom: 2px solid transparent;
	cursor: pointer;
}

.link_active {
	color: #1d1e1f;
	border-bottom-color: #ffe151;
}

.content {
	height: calc(100% - 48px);
	white-space: nowrap;
	transition: transform 0.4s ease;
}

.item {
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	white-space: normal;
	vertical-align: top;
	-webkit-overflow-scrolling: touch;
}
